@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    position: relative;
    width: 380px;
    height: 280px;
    overflow: hidden; /*evitar que a rolagem aconteça => não funcionou, estudar mais */
}


iframe#frame-spec::-webkit-scrollbar {
    display: none;
}